.vscode/**
.vscode-test/**
.kiro/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test-template.html
demo-template.yml.j2
*.vsix
